[tool.poetry]
name = "overturemaps"
version = "0.1.0"
description = "Python tools for interacting with Overture Maps (overturemaps.org) data."
authors = ["Jacob Wasserman <jwasserman@meta.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
click = "^8.1.7"
pyarrow = "^15.0.2"
shapely = "^2.0.3"

[tool.poetry.scripts]
overturemaps = 'overturemaps.cli:cli'


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
