[tool.poetry]
name = "overturemaps"
version = "0.18.0"
description = "Python tools for interacting with Overture Maps (overturemaps.org) data."
authors = ["Jacob Wasserman <jwasserman@meta.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
click = ">=8.1.7"
pyarrow = ">=15.0.2"
shapely = ">=2.0.3"
numpy = ">=1.26.4"

geopandas = { version = ">=1.0", optional = true, python = ">=3.9" }

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-mock = "^3.11.0"

[tool.poetry.extras]
geopandas = ["geopandas"]

[tool.poetry.scripts]
overturemaps = 'overturemaps.cli:cli'


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
